<div class="detail-dog-container">
    <div class="image-container">
        <img [src]="image" alt="dog" class="dog-image">
    </div>
    
    <div class="text-container">
        <h3>{{dog.name}} - {{dog.nickname}} - {{dog.breed}} -</h3>
        <hr>
        Dueños
        <h4>{{dog.owners.mainOwner.name}}</h4>
        <div *ngFor="let own of dog.owners.secondaryOwner">
            <p>{{own.name}}</p>
        </div>
        <hr>
        <h3>Observaciones</h3>
        <div *ngFor="let obs of dog.observations">
            <p>{{obs}}</p>
        </div>
    
        <h3>Días cuidado</h3>
        <div *ngFor="let day of dog.careDays">
            <p>{{day.entryDate}}-{{day.outDate}}</p>
        </div>
    </div>
</div>