<form class="container-form" [formGroup]="form">

  <app-dynamic-input
    labelText="nombre"
    formControlName="name"
    [maxLengthInput]="20"
    class="element-flex"
  ></app-dynamic-input>

  <app-dynamic-input
    labelText="Dueño"
    formControlName="mainOwner"
    [maxLengthInput]="20"
    class="element-flex"
  ></app-dynamic-input>


  <app-dynamic-selector
    labelText="opcion"
    formControlName="breed"
    class="element-flex"
  ></app-dynamic-selector>

  <app-dynamic-image-input></app-dynamic-image-input>
</form>

<app-dynamic-button
  btnText="Enviar"
  (click)="submit()">
</app-dynamic-button>